@import '../00_common/variables';
/* Button Styles */
button, a {
    font-family: $font-family;
    color: $white;
    font-size: $button-font-size-small;
    display: inline-block;
    cursor: pointer;

    // Primary Button Styles
    &.primary {
        border: none;
        border-radius: 15px ;
        background-color: #C05532;
        transition: background-color $transition-speed ease;

        &:hover {
            background-color: #B5421C;
        }
    }

    // Ghost Button Styles
    &.ghost {
        border: 2px $white solid;
        background: none;
        transition: background-color $transition-speed ease;

        &:hover {
            background-color: rgba($black, 0.5);
        }
    }

    // Big Button Styles
    &.big-button {
        min-height: $button-min-height-big;
        min-width: $button-min-width-big;
        padding: $button-padding-big;
    }

    // Small Button Styles
    &.small-button {
        min-height: $button-min-height-small;
        min-width: $button-min-width-small;
    }
}

.toggle-button-group {
    border: 1px solid #555;
    display: inline-flex;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
   
}
.toggle-button {
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background: transparent;
    font-size: 18px;
    border: none;
    transition: color 0.3s;
    z-index: 2;
}
.toggle-slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: $orange;
    border-radius: 15px;
    transition: left 0.3s;
    z-index: 1;
}

// Button Styles for Large Screens
@media screen and (min-width: 1100px) {
    button {
        font-size: $button-font-size-large;
    }

   
}