.book-card-borrow {
    top: 230px;
    display: flex;
    flex-direction: column; /* Change to column to stack children vertically */
    width: 80%;
    margin: 40px auto;
    background-color: rgba(5, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 20px;
    color: #fff;
    position: relative;
}

.author-borrow{
    margin: 5px 0;
    text-align: left;
    position: relative;
    color: #8A8A8A;
    bottom: 15px;
}

.borrowed-since{
    margin-top: 5px;
}

.button-add-borrow{
    position: absolute;
    top: 250px;
    left: 150px;
    transform: translateX(-50%);
    padding: 10px 30px;
    background-color: #C05532;
    color: #FFF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    white-space: nowrap;
    z-index: 1;
}

.title-borrow {
    position: relative;
    top: 120px;
    margin-left: 35px;
    text-align: left;
}


.select-wrapper-borrow {
    position: relative;
    width: 100px; 
    background: #6D6C8A;
    border-radius: 15px;
    background: #6D6C8A;
    color: white;
    right: 25px; 
    top: 251px;
    float: right; 
    z-index: 1;

    select.select-custom-borrow {
        appearance: none; 
        background: #6D6C8A;
        border: none;
        padding: 13px 15px;
        width: 100%;
        cursor: pointer;
        color: white;
        font-size: 16px;
        border-radius: 20px;  

        &:focus {
            outline: none;
        }

        option {
            background: #2C2C3E;
            color: white; 
            padding: 10px; 
            font-size: 16px; 
        }
    }

    &:after { 
        content: "\25BC";
        position: absolute;
        top: 50%;
        right: 15px; 
        transform: translateY(-50%);
        color: #FFF; 
        pointer-events: none; 
    }
}

.button-container-borrow {
    display: flex; // Set display to flex to align children side by side
    justify-content: center; // Center the buttons horizontally
}

.person-borrow{
    font-weight: bold;
    font-size: 20px;
}

.date-borrow{
    font-weight: bold;
    font-size: 20px;
}

.book-image-borrow {
    max-width: 100%; /* Ensures images fit within the card */
    width: 150px;
    height: auto; /* Maintains aspect ratio */
    margin-bottom: 10px;
    border-radius: 15px;
}

.image-button{
    background: none;
    border: none;
    padding: 0;
    display: block; // Ensures button uses full width of its container
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.image-button:hover{
    transform: scale(1.2); /* Scales the image up by 10% */
}

@media screen and (min-width: 1100px) {

    .book-card-borrow {
        top: 100px;
        right: 122px;
        display: flex;
        flex-direction: column; /* Change to column to stack children vertically */
        width: 80%;
        margin: 40px auto;
        background-color: rgba(5, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        border-radius: 15px;
        padding: 20px;
        color: #fff;
        position: relative;
    }

    .title-borrow {
        position: absolute;
        top: 0px;
        margin-left: 0;
        left: 350px;
        top: 60px;
    }

	.select-wrapper-borrow {
		font-family: "Poppins", sans-serif;
		position: relative;
		width: 120px; 
		height: 40px;
		border: 2px solid #6D6C8A;
		border-radius: 15px;
		background: #6D6C8A;
		color: white;
		right: 1170px; 
		top: 200px;
		float: right; 
		z-index: 1;
	
		select.select-custom-borrow {
			appearance: none; 
			background-color: #6D6C8A; 
			border: none;
			padding: 0 40px 0 15px; // Adjust padding to make room for the arrow
			width: 100%;
			height: 100%; // Make sure the select takes up the full height
			cursor: pointer;
			color: white;
			font-size: 18px;
			border-radius: 20px;  
	
			&:focus {
				outline: none;
			}
	
			option {
				background: #2C2C3E;
				color: white; 
				padding: 10px; 
				font-size: 16px; 
			}
		}
	
		&:after { 
			content: "\25BC";
			position: absolute;
			top: 50%;
			right: 15px; 
			transform: translateY(-50%);
			color: #FFF; 
			pointer-events: none; 
			font-size: 12px;
		}
	}  

    .button-add-borrow{
        position: absolute;
        top: 199px;
        left: 475px;
        transform: translateX(-50%);
        padding: 10px 30px;
        background-color: #C05532;
        color: #FFF;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 16px;
        white-space: nowrap;
        z-index: 1;
    }

    .button-container-borrow {
        display: flex; // Set display to flex to align children side by side
        justify-content: center; // Center the buttons horizontally
        position: absolute;
        left: 1020px;
        bottom: 200px;
        z-index: 5;
    }

    .book-image-borrow {
        max-width: 100%; /* Ensures images fit within the card */
        width: 170px;
        height: auto; /* Maintains aspect ratio */
        margin-bottom: 10px;
        border-radius: 15px;
    }
    
}

