.title-notes{
    margin-top: 120px;
    font-size: 32px;
    text-align: left;
    margin-left: 30px;
  }
  
  .back-button-container-notes {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 20px;
    margin-top: 0px;
    right: 20px;
  }
  
  .blur-overlay-notes {
    position: absolute;
    top: 200px;
    left: 20px;
    width: 90%;
    height: 50%;
    border-radius: 20px;
    z-index: 1;
    background-color: rgba(5, 0, 0, 0.15);
    backdrop-filter: blur(5px);
  }
  
  .sub-title-review{
    z-index: 3;
    position: relative;
    margin-top: 70px;
    text-align: left;
    font-size: 22px;
    margin-left: 48px;
    font-weight: bold;
  }
  
  /* Define the styles for the textarea */
  textarea {
    position: relative;
    z-index: 3;
    width: 75%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: inherit;
    resize: none;
    outline: none;
    background-color: rgba(5, 0, 0, 0.4);
    color: white;
    height: 300px;
  }
  
  .save-notes {
    margin-top: 50px;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: white;
    cursor: pointer;
    margin-right: 260px; /* Adds space between buttons */
  }
  
  .cancel-notes{
    margin-right: 40px;
    bottom: 47px;
    position: relative;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: white;
    cursor: pointer;
  }
  
  .save-notes {
    background-color: #C287E8; /* Purple color for save button */
  }
  
  .cancel-notes {
    background-color: #5F5D5D; /* Gray color for cancel button */
  }
  
  .button-container-review {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  z-index: 2;
  
  .btn-with-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: inherit;
  
      span {
          font-size: 14px;
      }
  }
  
  .delete-button {
      background: none;
      border: none;
      color: inherit;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      span {
          font-size: 14px;
          color: #BB3C43;
      }
  }
  }
  
  .images-notes{
  width: 16px;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
  }
  
  .images-notes:hover {
  transform: scale(1.2); /* Scales the image up by 10% */
  }
  
  
  .images-notes-delete{
  width: 12.5px;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
  }
  
  .images-notes-delete:hover {
  transform: scale(1.2); /* Scales the image up by 10% */
  }
  
  .images-notes-pen{
  width: 15px;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
  }
  
  .images-notes-pen:hover {
  transform: scale(1.2); /* Scales the image up by 10% */
  }
  
  .blur-overlay-buttons {
  position: absolute;
  top: 840px;
  left: 0px;
  width: 100%;
  height: 10%;
  border-radius: 0px;
  z-index: 1;
  background-color: rgba(5, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  box-shadow: 0 9px 10px 10px rgba(194, 135, 232, 0.30); // Drop shadow only at the bottom
  }

.star-review {
    position: relative;
    top: 55px;
    right: 95px;
    font-size: 32px;
    cursor: pointer;
    color: #ccc;
    z-index: 2;
}
.star-review.active {
    color: #E4C8A8;
}
  
  @media screen and (min-width: 1100px) {
  
    .title-notes{
        font-size: 46px;
        text-align: left;
        margin-top: 150px;
        text-align: left;
        margin-left: 400px;
    }
  
    .back-button-container-notes {
      position: absolute;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding: 10px 20px;
      top: 10px;
      right: 100px;
    }
       
    .blur-overlay-notes {
        position: absolute;
        top: 250px;
        left: 400px;
        width: 50%;
        height: 50%;
        border-radius: 20px;
        z-index: 1;
        background-color: rgba(5, 0, 0, 0.15);
        backdrop-filter: blur(5px);
    }
    
    .sub-title-review{
        z-index: 3;
        position: relative;
        margin-top: 70px;
        text-align: left;
        font-size: 22px;
        margin-left: 500px;
        margin-bottom: 30px;
        font-weight: bold;
    }
      
    /* Define the styles for the textarea */
    textarea {
        position: relative;
        z-index: 3;
        bottom: 100px;
        right: 62px;
        width: 40%;
        padding: 10px;
        border: none;
        border-radius: 16px;
        font-size: 16px;
        font-family: inherit;
        resize: none;
        outline: none;
        background-color: rgba(5, 0, 0, 0.4);
        color: white;
        height: 300px;
    }
    
    .save-notes {
        position: absolute;
        bottom: 120px;
        padding: 15px 20px;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-family: 'Arial', sans-serif;
        color: white;
        cursor: pointer;
        right: 1060px;
        transition: background-color 0.3s; // Smooth transition for hover effect
    
        &:hover {
            opacity: 0.9; // Slight opacity change on hover
        }
      }
    
    .cancel-notes{
        right: 1150px;
        bottom: 120px;
        position: absolute;
        padding: 15px 20px;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-family: 'Arial', sans-serif;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s; // Smooth transition for hover effect
    
        &:hover {
            opacity: 0.9; // Slight opacity change on hover
        }
    }
      
      .save-notes {
        background-color: #9b59b6; /* Purple color for save button */
  
          &:hover {
            background-color: darken(#9b59b6, 10%); // Darken on hover
        }
      }
      
      .cancel-notes {
        background-color: #95a5a6; /* Gray color for cancel button */
  
          &:hover {
            background-color: darken(#95a5a6, 10%); // Darken on hover
        }
      }
  
      .button-container-review {
        position: relative;
        display: flex;
        justify-content: flex-start;
        bottom: 882px;
        z-index: 2;
        margin-left: 300px;
    
        .btn-with-icon {
            display: flex;
            flex-direction: row; // Change to row direction
            align-items: center;
            text-decoration: none;
            color: inherit;
            margin-left: 100px; // Adjust spacing as needed
    
            img {
                width: 16px; // Adjust the size of the image as needed
                height: 16px; // Adjust the size of the image as needed
                margin-right: 8px; // Adjust spacing between icon and text
            }
    
            span {
                font-size: 14px;
            }
        }
    
        .delete-button {
            background: none;
            border: none;
            color: inherit;
            cursor: pointer;
            display: flex;
            flex-direction: row; // Change to row direction
            align-items: center;
    
            img {
                width: 16px; // Adjust the size of the image as needed
                height: 16px; // Adjust the size of the image as needed
                margin-right: 8px; // Adjust spacing between icon and text
            }
    
            span {
                font-size: 14px;
                color: #BB3C43;
            }
        }
    }    
  
    .blur-overlay-buttons {
      position: absolute;
      top: 0;
      left: 238px;
      width: 90%;
      height: 8%;
      border-radius: 0;
      z-index: 1;
      background-color: rgba(5, 0, 0, 0.30); // Adjusted color
      backdrop-filter: blur(5px);
      box-shadow: 0 5px 15px -7px rgba(194, 135, 232, 0.30); // Drop shadow only at the bottom
  }
  .star-review {
    position: relative;
    top: 55px;
    right: 380px;
    font-size: 32px;
    cursor: pointer;
    color: #ccc;
    z-index: 2;
    }
    .star-review.active {
        color: #E4C8A8;
    }
    
}
  
  