.features {
	background-image: url(../images/Ellipse-blauw.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right center;
	z-index: 1;
	
}
.features h2 {
	margin-bottom: 16px;
	max-width: 300px;
}

.feature-card {
	background-color: rgba(5,0,0,0.5);
	backdrop-filter: blur(30px);
	padding: 45px;
	margin-bottom: 40px;
	border-radius: 10px;
	box-sizing: border-box;
	text-align: left;

}

.feature-card h4 {
	margin: 16px 0; 
	color: $beige;
}

.feature-card p {
	font-size: 16px;
}

.feature-text {
	margin-top: 40px;
	margin-bottom: 40px;
	
	h4{
		font-size: 18px;
		font-weight: 500;
	}
	mark
	{
		color: #C05532;
		background-color: transparent;
	}
}

.book-section {
	display: block;
	padding: 20px;
	box-sizing: border-box;
}

.book-feature {
	padding: 15px;
	border-radius: 8px;
	text-align: left;
	display: block;
	justify-content: space-between;
	overflow: hidden; 
	align-items: center;

	.book-feature-content
	{
		display: block;
		width: 100%;
		max-width: 400px;
	}

	img {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
		max-width: 400px;
	}

	h3 {
		color: $beige;
	}
}

@media screen and (min-width: 768px) {

	.book-section {
		flex-direction: column;
		justify-content: space-around;
	}

}

@media screen and (min-width: 1100px) {
	.features
	{
		padding-bottom: 100px;

		.features-grid
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: 30px;

			.feature-card
			{
				background-color: rgba(5,0,0,0.5);
				backdrop-filter: blur(30px);
				padding: 45px;
				margin-bottom: 40px;
				box-sizing: border-box;
				text-align: left;


				&:first-child
				{
					width: 45%;
				}

				&:nth-child(2)
				{
					width: 50%;
				}

				&:nth-child(3)
				{
					width: 50%;
				}

				&:nth-child(4)
				{
					width: 45%;
				}
				&:nth-child(5)
				{
					width: 45%;
				}

				&:nth-child(6)
				{
					width: 50%;
				}
			}
		}

		h2 {
			max-width: 500px;
		}
		.wide
		{
			max-width: 600px;
		}
	}

	.book-section {
		max-width: 960px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		box-sizing: border-box;
	}

	.book-feature {
		width: 100%;
		display: flex;

		&:nth-child(even)
		{
			flex-direction: row-reverse;
		}

		.book-feature-content
		{
			display: block;
			width: 45%;
		}

		img {
			width: 50%;
			height: auto;
			margin-bottom: 10px;
			max-width: 500px;
		}
	}

}

@media screen and (min-width: 1400px) {

} 