.account-settings {
    width: 100%;
    margin: 150px 350px;
    padding: 20px;


    // Styling messages for errors and successes
    div[style*="color"] {
        padding: 10px;
        margin-bottom: 50px;
        border-radius: 4px;
        font-size: 14px;
        width: 95%;
        margin: auto;

        &[style*="red"] {
            background-color: #ffe5e5;
            color: #d32f2f;
        }
        &[style*="green"] {
            background-color: #e8f5e9;
            color: #2e7d32;
        }
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 15px;

            .button-container {
                text-align: left;
                display: block;

                button {
                    width: 1150px;
                    margin-bottom: 8px;
                    text-align: left;
                    padding: 16px 24px;
                    border: none;
                    background-color: #050000;
                    color: white;
                    border-radius: 10px;
                    font-size: 25px;
                    font-weight: 400;
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    &:hover {
                        outline: none;
                        box-shadow: 0 0 0 3px $purple;
                    }

                    &:focus {
                        outline: none;
                        box-shadow: 0 0 0 3px #B259EB;
                    }

                }

                .form-container {
                
                    display: none;
                    padding: 10px;
                   

                    form {
                     
                        flex-direction: row;
                        align-items: center;

                        input[type="email"],
                        input[type="password"],
                        input[type="text"] {
                            padding: 16px;
                            margin-bottom: 30px;
                            background-color: #141018;
                            color: white;
                            font-size: 18px;
                            font-weight: 400;
                            border: none;
                            border-radius: 10px;

                            &:focus {
                                border-color: #80bdff;
                                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                            }
                        }

                        button[type="submit"] {
                            width: 280px;
                            margin-left: 20px;
                            text-align: center;
                            padding: 10px 15px;
                            background-color: $purple;
                            color: white;
                            border-radius: 10px;
                            border: none;
                            cursor: pointer;

                            &:hover {
                                background-color: #B259EB;
                            }

                            &:focus {
                         
                            }

                        }
                        
                        button[type="del"] {
                            width: 280px;
                            margin-left: 20px;
                            text-align: center;
                            padding: 10px 15px;
                            background-color: #d32f2f;
                            color: white;
                            border-radius: 10px;
                            border: none;
                            cursor: pointer;

                            &:hover {
                                background-color: #ff1744;
                                outline: none;
                                box-shadow: 0 0 0 3px #d32f2f;
                            }

                            &:focus {
                         
                            }

                        }
                    }
                }
            }
        }
    }
}


