input[type="email"], input[type="password"], input[type="text"]
		{
			display: block;
			width: 100%;
			background-color: #F1F1F1;
			border-radius: 16px;
			padding: 16px;
			box-sizing: border-box;
			font-size: 16px;
			border: none;
			box-shadow: none;
			margin-bottom: 20px;
		}