nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: $padding-top !important;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-color: rgba(5, 0, 0, 0.01);

	.logo {
		background: none;
		max-width: 200px;
		height: auto;
		border: none;

		img {
			max-width: $width-100;
			height: auto;
		}
	}

	.menu-list-mobile
	{
		display: block;

		.logo
		{
			max-width: 160px;
		}

		ul
		{
			opacity: 0;
			transform: scaleY(0);
			transform-origin: center top;
			background-color: rgba(5, 0, 0, 0.8);
			transition: all 0.9s ease-in-out;
			border-radius: 10px;
			backdrop-filter: blur(20px);

			&.is-active
			{
				opacity: 1;
				transform: scaleY(1.0);
			}

			li
			{
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}

	.menu-list-desktop {
		display: none;
	}

	.hamburger-menu {
		margin-left: auto;
		border: none;
		background: none;
		width: $width-40;
		height: $height-40;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: $transition;
		z-index: 101;
		overflow: hidden;
		text-indent: -9999px;

		&.active {
			&::before {
				transform: translateY(0px) rotate(-45deg);
				box-shadow: 0 0 0 #fff;
			}
			&::after {
				transform: translateY(0px) rotate(45deg);
			}
		}

		&::before {
			content: "";
			width: $width-28;
			height: $height-2;
			background: #fff;
			transition: $transition;
			transform: translateY(-10px);
			box-shadow: 0 10px 0 #fff;
		}

		&::after {
			content: "";
			position: absolute;
			width: $width-28;
			height: $height-2;
			background: #fff;
			transition: $transition;
			transform: translateY(10px);
		}
	}
}



@media screen and (min-width: 768px) {
	nav 
	{
		width: 100%;
		padding: 15px 25px;

		.menu-list-mobile
		{
			display: none;
		}

		.menu-list-desktop {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: var(--gap-large, 20px);

			a {
				text-decoration: none;
				color: white;
				font-size: 16px; 
			}


			ul
			{
				list-style: none;
				display: flex;
				width: 40%;

				li
				{
					padding-left: 20px;
					padding-right: 20px;
				}
			}

			.menu-list-desktop-right
			{
				justify-content: flex-end;
			}
		}
	}
}

@media screen and (min-width: 1100px) {
	nav {
		margin: 0 auto;

		.menu-list-mobile
		{
			display: none;
		}

		.menu-list-desktop {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 30px;

			a {
				text-decoration: none;
				color: white;
				padding: 10px;;
			}
			a:hover {
				color: $orange;
				text-decoration: underline;
			  }
		}
	}
}

