/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    
}

body {
    background: linear-gradient(to bottom, #000004 2%, #211530 33%, #030A1C 67%, #050000 95%);
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;

}