// colors
$orange: #C05532;
$purple: #C287E8;

$beige: #E4C8A8;
$grey: #343434;
$dark-grey: #181818;

$white: #ffffff;
$black: #050000;

//fonts
$font-family: 'Poppins', sans-serif;
$font-size-small: 16px;
$font-size-17: 17px;
$font-size-medium: 18px;
$font-size-large: 20px;
$font-size-xlarge: 52px;
